/* /*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

*/ body {}

/*--------------------
App
--------------------*/
.app {
  position: relative;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1340px;
  height: 590px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.app h2 {
  color: #525661;
  font-size: 17px;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 28px 0;
  margin: -6px 0 0 0;
}

/*--------------------
Header
--------------------*/
header {
  padding: 30px;
  position: relative;
  height: 70px;
}

header h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #1c222b;
}

header nav {
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 28px;
}

header nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #363a47;
  border-radius: 2px;
  box-shadow: 0 5px 0 #363a47, 0 10px 0 #363a47;
}

header .search {
  position: absolute;
  top: 26px;
  right: 18px;
  cursor: pointer;
}

header .search svg {
  width: 20px;
  height: 20px;
}

/*--------------------
projects
--------------------*/
.projects {
  display: flex;
  padding: 8px 18px;
  justify-content: space-around;
}

.projects .movie {
  padding: 10px;
  cursor: pointer;
}

.projects .movie:hover {
  color: rgb(54, 126, 24);
}

.projects .movie .preview {
  width: 300px;
  height: 400px;
  margin-bottom: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.projects .movie .preview.active {
  opacity: 0;
}

.projects .movie .title {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 17px;
}

.projects .movie .info {
  color: #525661;
  font-size: 11px;
  opacity: 0.8;
}

.projects .movie .desc {
  display: none;
}


/*--------------------
Detail
--------------------*/
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 37px 30px 30px 255px;
  display: none;
}

.detail::before {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}

.detail .close {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 6px solid #FFF;
  box-sizing: content-box;
  z-index: 10;
}

.detail .preview {
  position: absolute;
  z-index: 2;
  top: -10%;
  left: -6%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}

.detail .title,
.detail .info,
.detail .desc,
.detail .close {
  transform: translateX(-50px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}

.detail .close {
  transform: translateX(10px);
}

.detail .title {
  font-size: 35px;
  font-weight: 300;
  color: #525661;
  margin-bottom: 5px;
}

.detail .info {
  font-size: 11px;
  opacity: 0;
  margin-left: 2px;
}

.detail .desc {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.6;
}

.detail .desc .link {
  display: flex;
  width: 90px;
  height: 35px;
  border-radius: 15px;
  background: linear-gradient(to right, #16bffd, #cb3066);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.detail .desc .link i {
  margin-left: 10px;
  margin-top: 7px;
}

.detail .desc .link p {
  margin-left: 5px;
  margin-top: 3px;
}

.detail .desc b {
  display: block;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.detail.ready::before {
  opacity: 1;
}

.detail.ready .info {
  opacity: 0.8;
}

.detail.ready .preview {
  opacity: 1;
  transition-duration: 0.5s;
}

.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .close {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

.detail.ready .title {
  transition-delay: 0.2s;
}

.detail.ready .info {
  transition-delay: 0.3s;
}

.detail.ready .desc {
  transition-delay: 0.4s;
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}

.the-most img {
  max-width: 100%;
}