* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gmarket';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222328;
}

body {
    font-family: 'Gmarket';
    font-size: 12px;
    color: #555;
}